[submodule "source-data/cldr-localenames-modern"]
	path = source-data/cldr-localenames-modern
	url = git://github.com/unicode-cldr/cldr-localenames-modern.git
[submodule "source-data/cldr-json"]
	path = source-data/cldr-json
	url = git@github.com:unicode-org/cldr-json.git
